<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{/fragmentos.html::head}"></head>

<body style="background-color: #d2d2c9;">
    <nav th:replace="~{/fragmentos.html::menu}"></nav>
    <div style="font-family: Ink Free; margin-top: 68px; background-color: antiquewhite;">
        <h1>Pedido confirmado</h1>
        <p>Recibirá una notificación en su email con el estado del pedido en tiempo real.</p>
        <!-- TODO: Rellenar con los datos del pedido -->
    </div>

    <footer th:replace="~{/fragmentos.html::footer}"></footer>
    <div th:replace="~{/fragmentos.html::scripts}"></div>
</body>

</html>