@media screen and (max-width: 480px) {
    /* Estilos para móviles */

    /* mobileStyles.css */

    /* General */
    body {
        font-size: 16px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    /* Navbar */
    .navbar-custom {
        font-size: 120%;
        height: 40px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar-custom .navbar-toggler {
        background-color: #6d031c;
        border-color: #ffefd0;
    }

    .navbar-custom .navbar-collapse {
        background-color: #6d031c;
    }

    .navbar-custom .navbar-collapse .nav-item .nav-link {
        color: #ffefd0;
    }

    /* Footer */
    .footer {
        position: relative;
        height: auto;
        flex-direction: column;
        padding: 10px 0;
        text-align: center;
    }

    .footer div {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer img {
        margin: 5px auto;
        margin-bottom: 10px;
    }

    /* Imágenes */
    .imgMediano {
        width: 90%;
    }

    .imgLogo {
        width: 80%;
    }

    /* Botones */
    .button {
        font-size: 100%;
    }

    #botonesEntreImg {
        flex-direction: column;
        gap: 5px;
    }

    /* Carrusel */
    .carousel-item img {
        max-height: 300px;
    }

    .carousel-images {
        width: 100%;
    }

    .carousel-images img {
        width: 100%;
    }

    #popup-content p {
        font-size: 100%;
    }

    .cookiesBtn {
        font-size: 12px;
        padding: 6px 12px;
    }

}